[2021-05-03 14:33] meskill opened #1 "Show tags metadata the same way as it shows by default"
Hello, thanks for the plugin.

I want to ask to reuse default obsidian render for tags frontmatter as it provides best visuals, they are clickable and might be customized by themes.

For example:

without metatable plugin:
![image](https://user-images.githubusercontent.com/8974488/116889641-78829500-ac35-11eb-9bad-5a4cf91b2ecd.png)

with metatable plugin:
![image](https://user-images.githubusercon

[2021-05-03 16:07] arnau commented on #1
Hi @meskill thanks for reporting this. It is indeed a bug. The behaviour you are after works well when you use a frontmatter in the form of:

[code]

Let me look into it.

[2021-05-03 16:32] arnau commented on #1
Version [0.5.1](https://github.com/arnau/obsidian-metatable/releases/tag/0.5.1) fixes this issue. Thanks for reporting 👍

[2021-05-03 16:32] #1 closed

[2021-05-04 01:02] EhuddR opened #2 "Clickable URL And Metadata Bug"
Hi! First of all thank you for this plugin. I would like to know if there is a possibility to make the metadata interactive links. For example in my notes I like to have the URL of a news or paper, in this sense, it would be very useful to be able to click directly on the metadata and take you to the link.

[2021-05-04 01:32] EhuddR commented on #2
I have encountered a bug in the plugin. Apparently if I have empty metadata fields the plugin does not work and does not show the other metadata fields.

https://user-images.githubusercontent.com/78237982/116951817-88f33980-ac4e-11eb-9d55-48114708aee5.mp4

[2021-05-04 05:54] arnau commented on #2
Hi @EhuddR, thanks for reporting! Creating links out of URLs is a great idea, thanks :)

As per the bug not showing anything if you have empty metadata fields, it's the same issue that happens with the default behaviour. If I remember correctly it's the Yaml parser failing which might make things a bit more challenging.

I'll give it a go and see if there is a workaround!

[2021-05-04 15:26] EhuddR commented on #2
No problem. If the incomplete YAML bug could be fixed, it would be great, since by default in obsidian I can leave those fields incomplete and no error appears. The metadata stills showing up. Of course, the metadata field, by default, is quite limited.

[2021-05-04 17:50] arnau commented on #2
You were right. I was conflating the behaviour of hiding the metadata block when no `tags` present with null values in the frontmatter.

Version 0.5.2 fixes null values, lets you define a default value for null values and autolinks URLs.

Thanks!

[2021-05-04 17:50] #2 closed

[2021-05-04 18:12] EhuddR commented on #2
Thank you! Now is working flawleslly

[2021-05-04 18:25] EhuddR opened #3 "Feature Request: Obsidian links on metadata."
Hi! I was wonder if you can add the posibility of make clickables obsidian Links on metadata. I think this is not possible but it would be a pretty cool feature.

`---`
`tags: #literature`
`author: [[Noam Chomsky]]`
`---`

[2021-05-05 06:01] arnau commented on #3
I haven't seen anything that suggests you can in the API but I agree it would be a great addition.

[2021-05-06 06:28] Mara-Li opened #4 "[Feature Request] Add an option to not show the metadata"
Hello ! This plugin is great (Looks like a notion frontmatter 👀 ) but sometimes I use the YAML frontmatter to create my cover page (export with pandoc). So, I obviously don't want to show the metadata on the preview!
It will be great to have an option to not show the metadata.

Some idea :
- Add an "exclude files" in the option of the plugin.
- Add a special YAML option (true/false) to not show.
-

[2021-05-06 06:54] arnau commented on #4
Ah! interesting use case. I'll give it a go soon.

[2021-05-06 21:18] arnau commented on #4
So I went for a special key in the frontmatter that will skip rendering the table when `true`. By default it is `metatable` but can be configured in the plugin settings.

I also added another setting to define a set of keys that you don't want to be shown.

Both changes can be found in the new 0.5.3 version.

[2021-05-06 21:18] #4 closed

[2021-05-08 07:34] dinhngocvuong opened #5 "[Feature Request] Hide metadata that is empty. Support Obsidian/Evernote links"
Hi! First of all thank you for this plugin! I have 3 requests:

1. Could you add an option to hide metadate that is empty
![](https://i.imgur.com/ygc34yA.png)

2. Suport Obsidian, Evernote links... Set the max length of URL
![](https://i.imgur.com/kGYp17R.png)

3. When I click the tag, the windows popup always open instead of search
![](https://i.imgur.com/97JKB45.png)

Thank you!

[2021-05-08 16:23] arnau commented on #5
Hi @dinhngocvuong, thanks for all the feedback!

Next release will include a toggle in settings to ignore members with null (empty) values.

I need to look into this. I'm not familiar with Evernote or any obsidian plugin that handles this kind of plugin. Do you have any pointers? It might be a similar issue I have with #3

**ugh** that's not good. Unfortunately I don't have access to any Windows m

[2021-05-09 15:21] arnau commented on #3
Hi @EhuddR, the new 0.7.0 adds a flag in settings for autolinks. See https://github.com/arnau/obsidian-metatable/tree/0.7.0#autolinks

You'll notice that your example:

[code]

won't work because the `[]` are reserved characters in YAML. Instead you can do:

[code]

Or

[code]

[2021-05-09 15:21] #3 closed

[2021-05-09 15:41] dinhngocvuong commented on #5
I just upgraded to v0.7.0 and see most my above issues were fixed. Thanks a lot!

The Evernote link is similar to Obsidian link on #3

1 more question: How can I change the tag style like ![Imgur](https://i.imgur.com/9UxON6v.png)
I cannot override your plugin style

And I prefer the sign "#" before the tag name.

[2021-05-09 15:45] arnau commented on #5
Glad to hear!

I'm still looking into the evernote ones, should be straightforward but I don't want to add something without testing at all :)

At the moment you can't change the tag styles I'm afraid (nor add the `#` in front of it), it's one of the consequences of having strong boundaries for the plugin. That said, I'm thinking in how could it be done though

[2021-05-09 16:44] arnau commented on #5
Out of curiosity, what custom code do you use to have tags with different colours?

[2021-05-09 17:45] dinhngocvuong commented on #5
You can check it out
https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/13

[2021-05-09 23:36] EhuddR opened #6 "Bug: The plugin doesn't work whitout quotation marks on numbers."
Hi! I woul like to report that the plugin isn't working.
This is the console error:

![image](https://user-images.githubusercontent.com/78237982/117590499-60a78700-b0f5-11eb-8822-6a5940934c7e.png)

So, I play around whit it and found that the plugin doesn't show numeric values whithin the frontmatter i.e:

[code]

The plugin works whit the frontmatter like so though:

[code]

The numeric values ar

[2021-05-10 04:40] EhuddR commented on #3
Thanks! This is amazing.

[2021-05-10 05:58] arnau commented on #6
Thanks for reporting. Sorry for the regression. It should work in 0.7.1

[2021-05-10 05:58] #6 closed

[2021-05-10 06:31] arnau commented on #5
So, the latest version should create links for Evernote and a custom property so you can add your own prefix for tags. E.g.

[code]

[2021-05-10 09:24] dinhngocvuong commented on #5
Great! Thank you for your help.

![](https://i.imgur.com/WGbifk4.png)

[2021-05-11 19:38] #5 closed

[2021-05-15 04:02] dinhngocvuong commented on #4
I always start my note template with metadata, but some quick notes don't need the metadata, and I want to hide the text "Metadata" on preview page when there is nothing to show.

![](https://i.imgur.com/hKRMvC6.png)

[2021-05-15 04:04] dinhngocvuong commented on #5
I always start my note template with metadata, but some quick notes don't need the metadata, and I want to hide the text "Metadata" on preview page when there is nothing to show.

![](https://i.imgur.com/hKRMvC6.png)

[2021-05-15 07:52] arnau commented on #5
Umm, I fixed this case around version 0.8. I can certainly not reproduce it now. I'm testing with a clean obsidian vault with metatable 0.8.1 installed and nothing else.

Could you give me some details of version of Obsidian and metatable version please?

[2021-05-15 09:29] dinhngocvuong commented on #5
I use Obsidian 0.12.3 for Windows 10, Metatable 0.8.1

Code view
![](https://i.imgur.com/flIDHjD.png)

Preview view
![](https://i.imgur.com/8lzlfop.png)

Setting
![](https://i.imgur.com/M034RaQ.png)

[2021-05-15 10:01] arnau commented on #5
Ah, thanks. Will look into this case soon

[2021-05-16 08:22] arnau commented on #5
Ok, version 0.8.2 fixes this case where all top-level keys are null 👍

[2021-05-16 09:17] arnau commented on #5
Something to note though is that it won't work if you have nested nulls, e.g.:

[code]

Because `top` is technically not null even though that after pruning `child` because it's null, then `top` becomes null.

For now I'll keep it as a no-fix mainly because it would require a fairly expensive rework.

[2021-05-16 12:59] dinhngocvuong commented on #5
Could you please fix for the case: Ignored keys
![](https://i.imgur.com/1MbpeWY.png)

In my case, I put `cssclass` to Ignored keys

Code view
![](https://i.imgur.com/wnwDZAR.png)

Preview view
![](https://i.imgur.com/PoF9M6U.png)

[2021-05-16 14:37] arnau commented on #5
Fixed 😅 in 0.8.3 (when GitHub Actions comes back to live…)

[2021-05-16 14:45] dinhngocvuong commented on #5
Thank you for the quick fix! 👍

[2021-05-27 09:00] MrModest opened #8 "Too small width for key in mobile version (in portrait mode)"
My Phone:
OnePlus 7
Android 11
Display: 6.41" 1920x1080 (FullHD)

Keys badly cut in Portrait mode. Please can you fix it?

Examples on screenshot: `aliases`, and `long_member`

First bad because of icon. Second bad because of length of field key.

Portrait mode:

![image](https://user-images.githubusercontent.com/13031058/119797349-d1ff7c00-bee2-11eb-9ad8-0b7e699622a4.png)

Landscape mode:

![imag

[2021-05-27 14:48] MrModest opened #9 "Feature Request: Is this possible to working backlinks for link-value in meta-data?"
In this issue you added possibility to add wiki-link to another page: https://github.com/arnau/obsidian-metatable/issues/3

But now this links don't create backlink for linked page.

[2021-05-27 16:30] arnau commented on #8
Thanks for reporting! Looks to me that it should be displayed perhaps a bit differently to give enough room for long keys and long values?

I don't use Obsidian on mobile so I'd be keen to get your thoughts on what would be a convenient way to display the information

[2021-05-27 16:32] arnau commented on #9
I would love to do it but so far I haven't been able to find how to do it (the API documentation is hardly there).

[2021-05-27 16:40] MrModest commented on #8
![image](https://user-images.githubusercontent.com/13031058/119864185-0f83f980-bf23-11eb-8cfc-bf3eee6b25b9.png)

this is how it's look in default.

I think your table format is good, but it need to more max-width limit, I guess

Also I think, max-limit need to be a bit increased if we have expand button

[2021-05-27 16:42] arnau commented on #8
Ook, I'll work with that :) give me a couple of days

[2021-05-28 15:12] LaP0573 opened #10 "Feature Request: Exclude all fields except specific ones"
I know you can indicate the frontmatter fields you with to exclude from metatable, but I'd like a way to do the other way : exclude all by default and list the ones you want to exclude.

90% of my fields should be excluded as they are just metadata about the file and I don't want them showing up in presentation, only a few should show up (like a source field). Since I always add new types of field

[2021-05-29 07:33] arnau commented on #10
Thanks for the suggestion, let me think about it

[2021-05-30 12:30] arnau commented on #8
After a few tests I settled with a vertical layout for small screens, otherwise values don't have enough space. You'll see the change in 0.9.1

[2021-05-30 12:30] #8 closed

[2021-05-30 12:57] MrModest commented on #8
Actually, it's not so bad. Thank you! (:

![image](https://user-images.githubusercontent.com/13031058/120104915-7857b580-c15f-11eb-9e93-8e19652934fc.png)

![image](https://user-images.githubusercontent.com/13031058/120104926-80175a00-c15f-11eb-872c-d58e334890f7.png)

[2021-05-30 13:41] arnau commented on #10
So, I changed the way you define settings such that you can choose the filter strategy. In your case you'll have to pick filter mode "keep" to exclude anything that is not in the list.

Available in 0.10.0.

[2021-05-30 13:41] #10 closed

[2021-05-30 18:28] MrModest commented on #9
I asked it discord:

https://discord.com/channels/686053708261228577/840286264964022302/848550877773955102

and me answered `@Licat#1607`:

https://discord.com/channels/686053708261228577/840286264964022302/848625713472340028

[2021-05-31 09:00] arnau commented on #9
Thanks @MrModest I'll keep the issue open in case they provide a way at some point.

[2021-06-02 16:06] cbr9 opened #11 "Feature Request: add possibility to style td and th"
Would it be possible to give `td` and `th` elements a `part="metatable-td"` or `part="metatable-th"` attribute so we can have control over their styling via ::part? I wanted to change some things at the level of `td` and `th`, like for example setting `overflow: hidden` for long URLs (to avoid the scrollbar) and also centering the values (they seem a bit skewed towards the top, not centered, but t

[2021-06-03 15:39] arnau commented on #11
Hi, sounds like a fairly easy thing to bring in for both keys and values. As long as you intend to affect only `th` and `td` you'll have control over their presentation.

The technical limitations (by design) of `::part` is that you can only affect the element with the part, so you can't influence its descendants. In the case of say having a `<td part="value">` you wouldn't be able to redefine pro

[2021-06-03 15:55] cbr9 commented on #11
I removed the underline from the rest of my regular links, but it doesn't seem like too big of an incovenience.

Playing around in Developer Tools I found that using `display: flex` and `align-items: flex-end` on `td` and `th` actually centered the content. I hope this helps (I didn't do much more research on it)

[2021-06-03 15:56] arnau commented on #11
Version 0.10.2 adds both `::part(key)` and `::part(value)`

[2021-06-03 15:57] arnau commented on #11
Ah, I think you are onto something, thanks :)

[2021-06-03 15:58] cbr9 commented on #11
Awesome! Thanks :)

No problem :)

[2021-06-03 16:08] cbr9 commented on #11
I've been playing around some more in Developer Tools and the `flex-end` workaround only changes some of the content,  not every row, which is weird.

[2021-06-03 16:27] cbr9 commented on #11
I found a small problem with the `part` attribute in some cases. I have an entry in some of my notes' frontmatter that looks like this:
[code]

The plugin creates an embedded table. In this case, the inner keys and values get the part attribute, i.e., Friday, "9:45 → 11:15", Tuesday, and "9:45 → 11:15" get the attribute, but the `th` `Days` and the `td` that contains the embedded table do not get

[2021-06-03 16:27] arnau commented on #11
Mmm, what seems to work well is using `display: grid` and changing the fold icon positioning to use grid columns. I'll release this one and see whether it works well across OSes.

[2021-06-03 16:37] arnau commented on #11
Version 0.10.3 fixes the missing key/value parts, aims to fix the slight vertical skew in keys and, you convinced me, adds parts for `link`, `external-link` and `internal-link` in case you want to remove underlining.

[2021-06-03 16:37] #11 closed

[2021-07-14 21:59] raddevon opened #12 "Bug: Parent note metatable is duplicated on embedded notes"
If I embed a note inside another note, the plugin appears to render another copy of the parent note's metatable inside the embedded note before that note's own metatable. Here's a screenshot to illustrate:

![image](https://user-images.githubusercontent.com/2027711/125698533-608bb2f5-6402-4354-b93a-feb50e9cbdd2.png)

[2021-07-15 10:13] arnau commented on #12
Thanks for reporting, I'll take a look as soon as I can.

[2021-07-29 13:43] arnau commented on #12
Hi @raddevon could you share here the minimal markdown (two files) that would help me reproduce this bug?

[2021-08-04 20:49] Elaws opened #13 "Using shortened links ?"
Hi,

Is there a way to use shortened links in YAML frontmatter ?

e.g. :

`[LINK](URL)`

[2021-08-05 06:42] arnau commented on #13
Hi @Elaws,

The only options for adding links in YAML are the ones described here https://github.com/arnau/obsidian-metatable#autolinks
with the "autolinks" config option enabled.

[2021-08-05 14:45] Elaws commented on #13
Thanks for your quick reply @arnau,

I indeed read this section and already enabled autolinks. Is there any plan to support such `[LINK](URL)` links ?

More often than not, a reduced link is preferable, as a full link would take too much space in a dataview query for e.g.

Thanks

[2021-08-06 10:42] arnau commented on #13
I had no plans to add the ability to parse markdown links. It has the same issue as obsidian links `[[link]]` where `[` and `]` are YAML reserved characters symbolising an array. So, in case of implementing this, it would require the yaml field to be defined as a String (same rules laid out for obsidian links).

All that said, once I have a bit of free time I can give it a go, unless you want to t

[2021-08-09 14:09] raddevon commented on #12
Sorry for the delay, @arnau. I can no longer replicate this. Not sure what was happening there.

Thanks for the awesome plugin!

[2021-08-09 15:06] arnau commented on #12
No worries! let me know if the error pops up again 👍

[2021-09-24 14:47] gwd0715 opened #14 "Is it possible to customize inner css class?"
Other than .obsidian-metatable class, can we customize other css class like .set or .member?
I tried to change them in CSS snippets, but failed!
Thanks!

[2021-09-25 09:14] arnau commented on #14
Hi @gwd0715, the short answer is no, by design the whole component is constrained under a shadow DOM which acts as a hard boundary for CSS so CSS from the outside doesn't conflict with the inside and vice-versa.

For certain parts there are hooks via `::part` (e.g. [tags](https://github.com/arnau/obsidian-metatable#tags)) but the possibilities for customisation are quite limited.

[2021-09-27 13:47] #14 closed

[2021-10-05 11:11] huyz opened #15 "Settings?"
The README talks about settings but I can't find the plugin settings when I install the plugin

[2021-10-05 11:19] huyz commented on #15
Never mind. Found it

[2021-10-05 11:19] #15 closed

[2021-10-26 21:17] mikkovedru opened #16 "Filter key with space in its name?"
There is a https://github.com/onlyafly/number-headings-obsidian plugin, which makes a frontmatter key by the name of `number headings`.

I just can't find a way to put it in your plugin's "Filter keys" list to be ignored. I tried inserting quotes, changing the order, add comma at the end - nothing worked.

Is this a bug or am I doing something wrong?

[2021-10-27 06:38] #16 closed, assigned to nobody

[2021-10-27 19:43] OfficerHalf opened #17 "Request: A better experience for filtering keys"
Right now the keys to filter are a single comma separated list. As soon as you have more than a couple, it's pretty difficult to manage. The input field is pretty small. It would be awesome to have them in a table or similar to be able to see them at a glance and add/remove them.

[2021-11-02 08:44] bzimor opened #18 "Make metatable appearance the similar to Obsidian's default metadata widget or add option to do that"
I like your plugin and I use it instead of Obsidian's native widget, because native one doesn't support attributes other than tags and aliases.  I tried to do it using style snippets but it was impossible to do without modifying the actual plugin code. This is my version in theme Atom:
![image](https://user-images.githubusercontent.com/23069759/139813638-2a1ffd1e-f10a-4886-9045-67c87177630a.png)
H

[2021-11-11 20:37] TheLugal commented on #12
Hi there! It seems to me that the bug appears when one write on the line directly below the embed. Refreshing by changing to another document and back removes the duplicates.
![image](https://user-images.githubusercontent.com/1109057/141364718-fd32d7ea-dd79-4a77-aa20-34845eff9904.png)

I can upload the md-files, should you be unable to reproduce. I use obsidian-appimage v0.12.19 on linux kernel 5.

[2021-11-12 07:50] arnau commented on #12
Hey @TheLugal , thanks for reporting! My hunch is that you are using `date updated` which contains a space and that is making Obsidian parse the frontmatter the wrong way. Mainly because spaces are not allowed in YAML keys.

If you do the test of changing the key to `date-updated`, does it change to the expected result?

[2021-11-13 09:23] phlind commented on #18
@bzimor Could you share your css code? That looks really cool.

[2021-11-13 11:34] TheLugal commented on #12
Hi! I tried changing it to date-updated, but it didn't seem to work. I tried to set the key to "metatable-embed: true" on the embedded file, and "metatable-embed: false" on the "regular" file.
![122940](https://user-images.githubusercontent.com/1109057/141642237-b2093689-c9d4-4510-9fd0-d7e4168cbeef.png)
It looks like metatable tries to insert the frontmatter from the embedding file into the metata

[2021-11-13 11:38] arnau commented on #12
Thanks for testing it @TheLugal

Would it be ok for you to upload here the markdown files that can help me reproduce the problem.

[2021-11-13 12:07] TheLugal commented on #12
Sure!
[Metatable-test.md](https://github.com/arnau/obsidian-metatable/files/7531964/Metatable-test.md)
[Metatable-test-embed.md](https://github.com/arnau/obsidian-metatable/files/7531965/Metatable-test-embed.md)

[2021-11-13 12:59] arnau commented on #12
Thanks!

[2021-11-13 14:54] bzimor commented on #18
@phlind, I achieved this not only with css snippet, but I had to modified this plugin's source code:
1) my css snippet: https://gist.github.com/bzimor/be4ae99f7d0abed5b262103cc18fba9d
2) modified main.js file: https://gist.github.com/bzimor/db50197132e069928cde1a96b8dc8c61

[2021-11-13 15:39] arnau commented on #12
Hi @TheLugal, I'm afraid I can't reproduce the issue. With the two Markdown files you provided I get the following behaviour:

<img width="837" alt="Screenshot 2021-11-13 at 15 33 05" src="https://user-images.githubusercontent.com/33837/141649735-b114c94a-0ae0-44a9-953a-56dbbd3fe55d.png">

Could you provide some more information to narrow down where the issue may be coming from?

Mine are:

- Oper

[2021-11-13 15:43] arnau commented on #12
Nevermind, I finally got to reproduce the behaviour! This is progress :)

[2021-11-13 15:50] arnau commented on #12
So, if I have narrowed it down properly the issue is as follows:

Given a file `a.md` that embeds file `b.md` using

[code]

And setting up the workspace such that `a.md` is open twice, once in preview mode and once in edit mode.

Writing text straight after the embedding expression `![[b.md]]` triggers a rerender for the embedded preview that makes the metatable duplicate values.

However, writin

[2021-11-13 16:50] arnau commented on #12
@TheLugal I released a new version, 0.10.4 which should fix this problem. Let me know if not, thanks!

[2021-11-13 16:50] #12 closed

[2021-11-14 10:04] TheLugal commented on #12
Hi @arnau, your fix worked nicely! It was a small issue, but thank you for taking out of your time to fix it. :)

[2021-11-17 00:17] Cantolla opened #20 "[Feature] When Collapse All is opened have all keys be Fully Expanded"
Pretty much what it says in the title, I keep my metadata in "Collapse All" state, which is great, but when I click to see my keys they are all collapsed as well, I'd love to have an option to have keys collapsed by default but when opened to be fully expanded.

Thank you! :)

[2021-11-20 16:08] arnau commented on #20
Thanks for the suggestion. Sounds like a good option to add 👍

[2021-11-21 10:25] arnau commented on #20
@Cantolla, the next non-patch release (i.e. 0.11.0) will provide an option `Collapse root` with this behaviour. Meanwhile, you can test it with the `main` version.

[2021-11-21 10:25] #20 closed

[2021-11-21 11:15] arnau commented on #18
Thanks @bzimor , I'm considering your suggestion.

When I designed this plugin one of the biggest points for me was to create a widget that would sandbox itself from other CSS, so I used a shadowdom to that end.

In hindsight, not everyone is as worried as me with interference so something that I'm considering that could be introduced is a setting where you can choose a "naked version" with a "bri

[2021-11-21 12:25] arnau commented on #18
@bzimor changes in `main` now add a setting `naked` which will just add the metatable structure without sandbox or CSS. Which means you can just drop your CSS as a CSS snippet (see `styles.css`) and it will give you complete control.

Let me know if you try it. I'm looking to release it as part of v0.11

[2021-11-24 18:56] bzimor commented on #18
@arnau, thank you for considering my suggestion and adding `naked` version. I tried it, now it is easier to customize appearance.

[2021-11-25 07:28] arnau commented on #18
Nice, thanks!

[2021-11-25 07:28] #18 closed

[2021-11-25 07:56] TRENEEDANAME opened #21 "Does not work, nor load using Obsidian with a Lenovo IdeaPad Duet (ChromeOS-ARM)"
It does not load when the plugin is active, reinstalled and does not fix the issue, the YAML doesn't load with the plugin enable.
![Screenshot 2021-11-25 08 55 35](https://user-images.githubusercontent.com/79509045/143401586-8d14e201-857d-4521-b4b8-b6e67d5d515c.png)
![Screenshot 2021-11-25 08 55 26](https://user-images.githubusercontent.com/79509045/143401591-721f8984-8097-4ac8-a926-aa3433282c90.p

[2021-11-26 11:51] arnau commented on #21
I'm afraid I can't replicate the issue you are having. What other plugins do you have installed? Does it change behaviour when you disable them?

[2021-11-26 16:41] TRENEEDANAME commented on #21
I have tried on a new vault, no plugin, it's the same issue

[2021-11-27 09:25] arnau commented on #21
Thanks @TRENEEDANAME. I'll keep this open in case someone else can help replicate and narrow down.

[2021-12-05 16:07] arnau commented on #17
@OfficerHalf I just released version 0.11.0 which should improve a bit the experience of managing filter keys.

[2021-12-05 16:07] #17 closed

[2021-12-17 07:19] Peingxious opened #22 "Use markdown link form."
Can the link form of the original markdown syntax be quoted in double quotes to implement URI links without showing the link length.

Just like this
 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
"[🦅] (eagle://item/KXA1DFAZOATRW)"

Show only 🦅 to jump other APP.

[2021-12-17 14:34] arnau commented on #22
duplicate of #13

[2021-12-20 05:49] Archie-2021 opened #23 "Not Showing invalid metadata"
Core obsidian shows an invalid metadata. I think you should show invalid metadata in red or something to be more obvious not to remove it. It is always bad to happens and user should be alerted

Thanks

[2021-12-20 12:47] arnau commented on #23
Thanks @Archie-2021 , could you give me an example?

[2021-12-20 15:33] Archie-2021 commented on #23
example of  invalid yaml
![image](https://user-images.githubusercontent.com/85870778/146792390-647ae031-80ac-442d-ab31-cff50887ba53.png)
![image](https://user-images.githubusercontent.com/85870778/146792449-379022a2-93fa-4e52-a6c1-4596b1fc0ffc.png)
example of valid yaml

![image](https://user-images.githubusercontent.com/85870778/146792540-b15755e9-45c7-40ab-84e0-1864762b29a1.png)
![image](https:/

[2021-12-20 16:26] arnau commented on #23
Thanks @Archie-2021 will take a look 👍

[2021-12-21 04:09] Archie-2021 commented on #23
I also was thinking that a central note to list all notes with invalid metadata is necessary in vault. maybe you can implement that somewhere in your plugin as it is most related to it. people use quickadd and other means to import notes into their vaults and it happens very often that some character causes an invalid metadata and they may never notice it because it is not going to show up in data

[2021-12-22 15:46] lin0kin opened #24 "can i edit meta-data on live-preview model? and background-image?"
in nord theme, metatable is a little hard to identify, I always think of it as part of the text

In addition, I hope to be able to adapt to the new live mode, to be able to directly edit the meatadata

thx

[2021-12-23 02:24] Peingxious commented on #22
Not the same, I want to customize the URI header, customize only a few URI headers. The link in Yaml is too long, I hope it can be reduced to think like dataview. Can use markdown links.
![](https://hbimg.huabanimg.com/a9c8deb4559415ca37c68d7860602e452fb523171f95-ifOMog)

[2021-12-23 07:55] arnau commented on #24
hi, I'm not familiar with the nord theme, aren't the options available for customising colours (or the new naked option) enough to make it stand out in your case?

I haven't looked at the new live mode, I'll have to do a bit of research before I can answer this one :)

[2021-12-23 08:02] arnau commented on #22
mmm, I'm not sure I understand. The example you share in the screenshot is a plain URL but the initial message says:

[code]

The first case has not enough information to display a short text unless I do an external request to fetch the page title or something like that. Which it is out of scope for this plugin (I don't want to make any external calls for security reasons).

The second is a markdo

[2021-12-23 11:49] lin0kin commented on #24
thx bro. it's already amazing plugin.
Thank you for your reply

[2022-01-05 11:06] arnau commented on #23
The next version 0.12.0 will show an error message (the same Obsidian provides) when the YAML is invalid.

I've considered the other feature you suggest and I reckon it would be better to have it as an independent plugin given that the logic is not single-document. Maybe something to ask/suggest in the forums?

[2022-01-05 11:06] #23 closed

[2022-01-07 21:27] Archie-2021 commented on #23
thank you, I will request it on the forum too

[2022-01-14 13:54] #24 closed

[2022-02-09 13:04] aisle9 opened #25 "Can this work in live preview?"

[2022-02-09 13:16] arnau commented on #25
Hi @aisle9 , as far as I can tell from Obsidian's documentation the live preview is unstable and only implemented by the Obsidian developers so I'm afraid the answer is no. Once it's clear how to do it in an official way I'll give it a go.

[2022-02-11 03:24] alanalvarado opened #26 "Inconsistent tag behavior"
Hello! nice work there!

The problem : I have md files created by a lot of different means, (different browser clippers, copied markdown, clear-mark, manually created) so the frontmatter syntax/keywords are not uniform i.e especially with tags. and each syntax gives different result.

---
tags: osx docs bash
---
Result: only one clickable tag called "osx docs bash"

---
Tags: osx docs bash
---
Res

[2022-02-11 10:14] arnau commented on #26
Hi @alanalvarado, thanks for reporting. I see that in both situations Obsidian defaults to your expected behaviour.

For the capitalised `Tags` vs lowercsae `tags` I see little risk and will treat it as a bug.

For the string `osx docs bash` vs array `[osx, docs, bash]` let me think about it. It diverges from standard YAML which I don't particularly favour.

[2022-02-11 16:44] arnau commented on #26
On reflection, I think both features should be implemented. The value of `tags` is already non-standard because `a, b, c` is treated as an array.

[2022-02-14 18:05] tdwinki opened #27 "Bug in Filter keys setting"
If a filter key contains a word that is already set as filter keys the first value is automatically deleted.

e.g.
Add 'test' to Filter keys
Add 'test test'
Close the settings and open it back, now 'test' filter is gone.

[2022-02-15 10:46] arnau commented on #27
Thanks @tdwinki I'll look into that as soon as I can

[2022-02-18 04:24] jiri opened #28 "Inconsistent line height"
Since the tags field shows the tags in a pill shaped container, the overall line height for that row is higher than other lines, resulting in an off-center text.

![image](https://user-images.githubusercontent.com/661524/154617236-a3b631e0-0333-4e11-a335-9328a92db15b.png)

[2022-02-18 16:24] arnau commented on #28
Thanks for reporting @jiri

[2022-02-26 19:11] kepano opened #29 "Some elements cannot be targeted via CSS"
I couldn't figure out a way to target the `member` element since it doesn't have a `part` — is there another way to do so? I would like to change the `grid-gap` value.

Elements that cannot be targeted:

- `summary` and `marker` for the folding of the main "Metadata" title
- `.set` on the `table` element
- `.member` on the `tr` element

[2022-02-27 11:41] arnau commented on #29
Hey @kepano thanks for bringing metatable into the minimal theme. I use your theme myself and I have to say I like your style way more than mine 😄

Let me look into making more parts available for deeper customisation 👍

Aside, the `naked` setting removes the shadow dom boundary so styling is completely free. Would this option be more accommodating to you?

[2022-03-07 23:14] DryIce1 commented on #25
Hi @arnau, metatable sure makes yaml look great in reading mode! The most important and useful feature for me is the toggle button which closes the yaml and gets it "out of the way" so that writing is clean and the text at the top of the page where it belongs and in focus.

I wonder if it is possible to bring the Metatable YAML Toggle into live preview ? Or would that be a native obsidian feature?

[2022-03-11 21:50] DryIce1 commented on #25
I was able to hide YAML using a snippet, and it looks great in Live Preview. (Although it's not a good solution for those who use YAML regularly, it makes typing very pleasing and clean).

See the snippet on the Banners plugin comments here https://github.com/noatpad/obsidian-banners/issues/19#issuecomment-1064587173

[2022-03-12 10:37] arnau commented on #25
Nice one @DryIce1 ! I'm a bit tight on time lately but as soon as I get a couple of hours I'll explore this 👍

[2022-03-12 13:38] Thus0 opened #30 "Bug when exporting pdf with pictures"
Hi

when I have a picture in my markdown, the metatable is not displayed in the pdf ; whereas the metatable appears correctly in "reader view" and "live view" in Obsidian. If I remove the picture from the markdown file, the pdf is correct with the metatable displayed at the top. I tried to force metatable with "metatable: false" in frontmatter but it does not change.

Step to reproduce : add a pic

[2022-03-12 14:47] arnau commented on #30
Thanks for reporting @Thus0 👍

[2022-03-12 14:54] Thus0 commented on #30
Some example to see the problem:

- markdown with picture
![table1](https://user-images.githubusercontent.com/495974/158022881-3ce2f951-e305-4aa9-804f-81fd3bcf1e37.png)

- markdown without picture
![table2](https://user-images.githubusercontent.com/495974/158022882-48cb6ab1-3a2b-4886-96f5-a869c8f9206b.png)

[2022-05-21 18:57] vishae commented on #25
ooh, it would be great if metatable works with live preview and default fold/hide the yaml front matter!

[2022-06-02 11:09] dredhorse opened #31 "Metatable fails silenty on wrong syntax in frontmatter"
Hi,
while obsidan will give you a "Invalid YAML" warning, when you enable Metatable the obisdian warning will not show and Metatable will not create the table without any error message.

You can reproduce this by putting

`title: [this will break yaml] didn't I tell you`

into the frontmatter.

[2022-06-02 14:28] arnau commented on #31
Hi @dredhorse thanks, I have a fix but haven't had time to release it yet. Will do as soon as I can.

[2022-06-18 13:35] Archie-2021 commented on #25
+1 for this one, really need this. and thanks

[2022-06-25 16:29] lolfert opened #32 "Feature Request: Support for Inline Meta Fields"
[Dataview's inline meta fields](https://blacksmithgu.github.io/obsidian-dataview) have become a popular method of inserting metadata within the content of a note. Unfortunately, it doesn't appear that these fields are recognized by the plugin. I think it would be useful for many users if support was added for this, particularly those who would like to be able to see a comprehensive table of meta f

[2022-06-26 08:11] arnau commented on #32
Hey @lolfert sounds like something to explore. My initial reservation is that it would likely be depending on dataview itself to ensure compatibility which might be a bit too much. I'll think about it though, thanks!

[2022-07-03 00:15] B00tLoad opened #33 "Feature Request: Cutom link title"
It could be that I'm wrong, but as far as my testing went, it currently is not possible to use a custom link title with the frontmatter links similarly to the wikilinks outside of the frontmatter. It would be very great for readability if it were possible tho.

Example: `%000 index|Index%` would link to the note "000 Index" but the link would only show "Index".

[2022-07-06 12:51] Stefan-59 opened #34 "MetaTable installed, but nothing happenes"
Hi there,

I installed the plugin, enabled it, nothin happenes.
The metadata is still displayed like this:
![image](https://user-images.githubusercontent.com/61938696/177554223-1b72886a-b1b6-4437-a281-a9d5a2cdda3e.png)

Tried in a different vault, same effect (none).

What may I be missing?

[2022-07-06 16:59] #34 closed

[2022-07-23 09:37] Archie-2021 opened #35 "[Bug] Issue with folding front matter in preview"
When i fold front matter and switch to reading mode  and coming back to live-preview it forgets the folding. This only happens when your plugin be active.

[2022-07-23 10:02] arnau commented on #35
Hi, I'm not entirely sure I'm following. Let me replay what I understood:

1. Open file in reaading mode
2. fold the Metatable block
3. switch to editing mode (defaults to live preview)
4. NOTE: live preview shows the raw YAML because the Metatable plugin cannot be rendered in this view
5. switch back to reading mode

If I follow the steps above the folding persists. However, if I close the file a

[2022-07-23 10:10] Archie-2021 commented on #35
to explain more:
1. open a note in edit/live-preview mode
2. fold the front yaml using fold under the cursor Obsidian command
3.change the view to reading mode
4. change back the view to edit/live-preview mode

and the folding is gone and yaml is open. it is not the issue of even leaving the note. it is not remembered at all if view being changed.

[2022-07-23 10:18] arnau commented on #35
Ah! understood. And I can reproduce the behaviour 👍

I'll have to dig into this one, thanks for reporting.

[2022-07-23 10:38] Archie-2021 commented on #23
i can't see this error massage you saying, is it sending a notification (new Notice)? i don't see any massage with or without your plugin. where should i look?

and when this new version is going to be released. it has been a while...

thank you

[2022-07-23 10:40] arnau commented on #23
I haven't had spare time to work on this plugin for a while. I can't say when I'll be able to release the next version which contains this fix.

[2022-07-23 11:03] Archie-2021 commented on #23
No hurry , what is this built-in obsidian error you were referring to above. can you explain me to me how to get it? it seems useful

[2022-08-04 11:15] Rhydderch commented on #25
Any updates regarding this? Is it possible? :)

[2022-08-05 07:13] arnau commented on #25
I'm afraid not. As far as I can tell Live Preview does not allow hooking into the frontmatter part of the document. If anyone knows how, I'm open to contributions :)

[2022-08-16 15:13] #35 closed

[2022-08-16 15:14] arnau commented on #35
The new version 0.12.0 should fix this issue.

[2022-08-16 15:15] arnau commented on #31
The new version 0.12.0 should fix this.

[2022-08-16 15:15] #31 closed

[2022-08-16 16:47] arnau commented on #22
Closing as I can't follow the request.

[2022-08-16 16:47] #22 closed

[2022-08-16 16:47] arnau commented on #21
Closing as I still can't reproduce and no one has stepped forward with a fix.

[2022-08-16 16:47] #21 closed

[2022-08-16 17:10] #26 closed

[2022-08-16 17:10] #27 closed

[2022-08-16 17:20] arnau commented on #33
The new version 0.13.0 allows you to use the form `[[url|Label]]`.

[2022-08-16 17:21] arnau commented on #29
The new version 0.13.0 adds parts for summary, marker, set and member. It also adds `--metatable-member-gap`

[2022-08-16 17:21] #29 closed

[2022-08-26 01:33] B00tLoad commented on #33
Thanks, but just out of curiosity, is there a technical limitation for the frontmatter links to use the form `%Url|Label%`? As you point out in the readme file, those are way more convenient for your plugin, so it would be cool to be able to use the form there too.

[2022-08-26 06:58] arnau commented on #33
Ah, not a technical issue, just a bug :)

[2022-08-28 08:52] #33 closed

[2022-08-28 08:54] arnau commented on #33
Version 0.13.1 fixes this case

[2022-09-23 10:07] suliveevil opened #36 "Chinese Support"
When file have two tags：`剧情 喜剧` Metatable treat it as one: `tag:#%E5%89%A7%E6%83%85%20%E5%96%9C%E5%89%A7`

[2022-09-23 17:31] arnau commented on #36
@suliveevil thanks for reporting 👍

[2022-09-24 14:14] arnau commented on #36
@suliveevil version 0.14.1 fixes this issue

[2022-09-24 14:14] #36 closed

[2022-09-24 14:24] suliveevil commented on #36
Thank you very much 🥰

[2022-09-26 05:28] n-a-m-e opened #37 "Autolink breaks for wikilinks containing spaces when updating from 13.1 to 14.1"
Inside the function "Link" urls are encoded and this encoding breaks any wikilinks that contain spaces. For wikilinks the below line setting the localUrl should be the equal to the url variable.

`
const localUrl = encodeURI((0, import_obsidian2.getLinkpath)(url));
`

[2022-09-26 06:21] arnau commented on #37
@n-a-m-e thanks for reporting 🙏

[2022-10-11 08:29] Darkluna999 commented on #36
now，this problem is still there...

[2022-10-19 22:34] reddare commented on #37
Confirmed

[2022-10-20 00:44] estheon opened #39 "Tags with emojis do not appear with Metatable (in Preview mode)"
I use tags in the form of **emojis** to organize my Obsidian notes. Metatable used to display my emoji tags but for some reason the emojis no longer appear.

Here is the text in edit mode.
![image](https://user-images.githubusercontent.com/59342862/196830225-87a2a59f-42a8-4567-ae37-948d26cfdbdf.png)

Here is the text in preview mode.
![image](https://user-images.githubusercontent.com/59342862/1968

[2022-10-22 08:02] arnau commented on #39
Hi @estheon, thanks for reporting. I'm afraid I can't reproduce the behaviour you are showing in these screenshots. Could you share the actual markdown file as well as the metatable version please?

[2022-10-22 08:05] arnau commented on #28
@jiri is this still an issue after the revamp of Obsidian 1.0?

[2022-10-22 08:05] arnau commented on #13
This feature has been available for a while now.

[2022-10-22 08:05] #13 closed

[2022-10-22 08:09] arnau commented on #37
@n-a-m-e this should be fixed with version 0.14.3

[2022-10-22 08:09] #37 closed

[2022-10-24 02:31] estheon commented on #39
[Metatable Emoji Tag Debugging.md](https://github.com/arnau/obsidian-metatable/files/9848358/Metatable.Emoji.Tag.Debugging.md)

Here is the file from the screenshot above, it has two tags like in the last screenshot. My current Metatable version is 0.14.3, the latest version.

[2022-10-25 07:18] arnau commented on #39
The markdown file you shared works fine for me 😢 I'll think about what could make your instance not work, no immediate ideas right now though.

[2022-10-25 07:20] arnau commented on #39
If it doesn't work when you use the Preview I would expect it doesn't work either when you open the sidebar, is this correct?

[2022-10-30 14:08] StevenGLee opened #40 "Can I adjust the position where the metatable shows?"
I hope that metatable can be shown after the first h1 line, which usually serves as title of a document. Thus, when the page is embedded in another file, metatable can be treated as an information table. Is there any way I can adjust the position of metatable? Better can be defined per file in metadata.

[2022-11-03 08:11] arnau commented on #40
Hi @StevenGLee, no, Metatable is not capable of that.

At the moment I don't have much free time but I'll keep it open to have a think. And of course, I'm always open to contributions :)

[2022-11-07 14:37] estheon commented on #39
I just wanted to provide an update here: so it turns out that one of my other Obsidian vaults does show the emoji tags. I am going to compare the `.obsidian` folders of my two vaults and see what's preventing the emoji tags from showing in my original vault, and I will provide my updates soon.

Thank you for your responsiveness, arnau!

[2022-11-19 18:40] arnau commented on #28
Closing as Obsidian 1.0 has changed too many things.

[2022-11-19 18:40] #28 closed

[2022-11-20 02:27] efrec opened #41 "Textual presentation"
This is a potential enhancement area for the plugin, which I'll demonstrate through my own attempt/struggle. I wanted, rather than a table, to see my note's metadata in a purely textual presentation, like the below, which I'm happy with:

![image](https://user-images.githubusercontent.com/103912894/202879423-aca5bd7a-96b9-4151-88ee-f70acbe11065.png)

It keeps the expand/collapse behavior of the ta

[2022-11-20 10:46] arnau commented on #41
Hi @efrec thanks for sharing this, I never thought in displaying metadata this way. Quite interesting 💯

[2022-11-21 03:05] efrec commented on #41
Not a problem, I just thought it was neat.

I missed a detail, that the Metatable setting to disable the plugin shadow DOM and CSS ought to be toggled on.